header {
  height: 600px;
  width: 100%; /* Make the header 100% the width of its parent container */
  background-color: #874355;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

header img {
  width: 250px; /* Adjust avatar image size */
  height: 250px; /* Adjust avatar image size */
  border-radius: 50%; /* Make the avatar image round */
}

header h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
}

header {
  height: 600px;
  width: 100%;
  background-color: #874355;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

header h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #fff;
}

/* Responsive layout */
@media only screen and (min-width: 1024px) {
  header {
    width: 20%;
    position: relative;
  }
}

/* Small screen layout */
@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
  }
}