.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet label {
  border-bottom: 1px solid #000; /* Add black border line under the label text */
}

.new-tweet textarea {
  margin-bottom: 10px; /* Add some space between textarea and button */
}

.new-tweet button {
  background-color: #4056A1; /* Set tweet button color to match the nav */
  color: #fff; /* Set text color to white */
  font-family: 'Bungee', sans-serif; /* Set font family to Bungee */
  align-self: flex-start; /* Align button to the left */
}

.counter {
  font-family: 'Bungee', sans-serif; /* Set font family to Bungee */
  position: absolute; /* Position the counter absolutely */
  top: 10; /* Align to the top */
  right: 0; /* Align to the right */
  text-align: right; /* Align the text to the right */
}

.error-message {
  display: none; /* Initially hide the error message */
  color: red;
  padding: 5px;
  border: 1px solid red;
  margin-top: 5px;
}
