.tweet {
  background-color: #f5f5f5; 
  border: 2px solid black;
  padding: 20px; 
  margin-top: 20px;
  margin-bottom: 20px; 
}

.profile-info {
  display: flex;
  align-items: center;
}

.name-handle {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.name-handle h3 {
  margin-right: auto; 
}

.name-handle span {
  margin-left: auto; /* Push span to the right as much as possible */
}

.tweet-content {
  margin-bottom: 10px;
}

.tweet-actions {
  display: flex;
  justify-content: flex-end;
}

.tweet-actions i {
  margin-left: 10px; 
}

.timestamp {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.tweet:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px black;
}

.tweet-actions i:hover {
  color: rgb(0, 255, 55);
}