.tweet {
  background-color: transparent;
  border: 2px solid black;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info img {
  width: 40px; 
  height: 40px; 
  margin-right: 10px; 
}

.name-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-handle h3 {
  margin-right: 10px;
}

.name-handle span {
  margin-left: auto;
}

.tweet-content {
  margin-bottom: 10px;
}

.tweet-actions {
  display: flex;
  justify-content: flex-end;
}

.tweet-actions i {
  margin-left: 10px;
}

.timestamp {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.tweet:hover {
  box-shadow: 0 0 5px black;
}

.tweet-actions i:hover {
  color: #874355;
}

.profile-info i:hover {
  color: #874355;
}
